<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE MATRIX</title>
    <!-- JS -->
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/button1.css">
    <link rel="stylesheet" href="css/button2.css">
    <link rel="stylesheet" href="css/news-bar.css">
    <link rel="stylesheet" href="css/grid.css">
    <style>
        :root {
            --black: #1F1F1F;
            --gap: 5px;
        }
        * {
            padding: 0;
            margin: 0;
            user-select: none;
        }
        body {
            overflow: hidden;
        }
        .submit-token-btn {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="news-bar">
        <p>関節症のある庭</p>
    </div>

    <div class="grid-wrapper">
        <div class="box a">
            <img hx-get="/php/home.html" hx-target="#rooter" hx-trigger="click" 
                draggable="false" style="width: 100%; transform: scaleX(2) scaleY(1.2);" src="image/silver-head.gif" alt="">
            <img hx-get="/php/inventory.html" hx-target="#rooter" hx-trigger="click" 
                draggable="false" style="width: 100%;" src="image/panino.gif" alt="">
            <img draggable="false" style="width: 100%;" src="image/david.gif" alt="">
        </div>
        <div id="rooter" class="box b rooter" hx-get="/php/home.html" hx-trigger="load">
            
        </div>
        <div class="box c">
            <img draggable="false" style="width: 100%;" src="image/palmes.gif" alt="">
            <img draggable="false" style="width: 100%; transform: scaleX(2) scaleY(1.2);" src="image/tyson-parks.gif" alt="">
            <img draggable="false" style="width: 100%;" src="image/faces.jpeg" alt="">
        </div>
    </div>
    <!--
    <button class="button-49 submit-token-btn" role="button">手漕ぎ鴨</button>
    -->
</body>
</html>